<!--Parent Main Pages-->
<div class="mission-approval-list">
    {{#each mission_approval}}
        {{> mission-banner-item}}
    {{/each}}
</div>

<div class="reward-approval-list">
    {{#each reward_approval}}
        {{> reward-banner-item}}
    {{/each}}
</div>
{{#if parentSummaryPage}}
    <div id="team-summary-page" class="row">
        <h1 class="">Command Center</h1>
        <div class="col s12 m4">
            <div class="team-summary">
                <ul class="collection with-header">
                    <li class="collection-header red accent-4"><h4 class="center-align">Team</h4></li>
                    {{#each child}}
                        <a href="#!" class="collection-item">
                            <img class='avatar-sm circle' src="/assets/images/childavatars/{{avatar}}.jpg">
                            <div><p>{{first_name}}</p>
                                <p>({{nickname}})</p>
                            </div>
                        </a>
                    {{/each}}
                    <li class="collection-header"><a class="" href="/parent-team/{{pid}}">View Team Details</a>
                        <a class="btn-add-mission btn-floating fab waves-effect waves-light red"
                           href="/parent-add-child/{{pid}}"><i
                                class="material-icons">add</i></a></li>
                </ul>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="rewards-summary">
                <ul class="collection with-header">
                    <li class="collection-header red accent-4"><h4 class="center-align">Rewards</h4></li>
                    {{#each reward}}
                        <a href="#!" class="collection-item">{{reward_name}} <span
                                class="right"><b>{{reward_points_required}}
                            pts</b></span></a>
                    {{/each}}
                    <li class="collection-header"><a class="" href="/parent-rewards/{{pid}}">View All</a>
                        <a class="disabled btn-add-reward btn-floating fab waves-effect waves-light red"
                           href="/parent-add-rewards/{{pid}}"><i
                                class="material-icons">add</i></a></li>
                </ul>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="missions-summary">
                <ul class="collection with-header">
                    <li class="collection-header red accent-4"><h4 class="center-align">Mission</h4></li>
                    {{#each mission}}
                        <a href="#!" class="collection-item">{{mission_title}} <span
                                class="right"><b>{{mission_point_value}}pts</b></span></a>
                    {{/each}}
                    <li class="collection-header"><a class="" href="/parent-missions">View All</a>
                        <a class="disabled btn-add-mission btn-floating fab waves-effect waves-light red"
                           href="/parent-add-missions/{{pid}}"><i
                                class="material-icons">add</i></a></li>
                </ul>
            </div>
        </div>
    </div>
{{/if}}

{{#if parentFamilyPage}}
    <div id="family-page" class="row">
        <h1>Team</h1>
        {{#each child}}
            <div class="col s12 m4">
                <div class="team-summary">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                {{first_name}}<br>
                                ({{nickname}})
                            </div>
                        </div>
                        <div class="card-content">
                            <img class='avatar-sm' src="/assets/images/childavatars/{{avatar}}.jpg">
                            <a class="btn-add-child btn-floating halfway-fab waves-effect waves-light red"
                               href="/parent-edit-child"><i
                                    class="material-icons">edit</i></a>
                            <div class="card-footer">
                                <span class="">View Details</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}
{{#if parentAddChildPage}}
    <div id="add-child-page" class="row">
        <h1>Add New Child</h1>
        <div class="row white">
            <form class="col s12">
                <div class="row">
                    <div class="col s12">
                        <h4>Child Information</h4>
                    </div>
                    <div class="input-field col s6">
                        <input id="create_first_name" type="text" class="validate">
                        <label for="create_first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="create_nickname" type="text" class="validate">
                        <label for="create_nickname">nickname</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="create_password" type="password" class="validate">
                        <label for="create_password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password_verify" type="password" class="validate">
                        <label for="password_verify">Verify Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h4>Select an Avatar</h4>
                        <div class="row">
                            <div class="col s6 m4">
                                <input name="avatars" type="radio" id="a1" value="1"/>
                                <label for="a1">Batgirl</label>
                                <img class="avatar-sm" src="/assets/images/childavatars/1.jpg">
                            </div>
                            <div class="col s6 m4">
                                <input name="avatars" type="radio" id="a2" value="2"/>
                                <label for="a2">Batboy</label>
                                <img class="avatar-sm" src="/assets/images/childavatars/2.jpg">
                            </div>
                            <div class="col s6 m4">
                                <input name="avatars" type="radio" id="a3" value="3"/>
                                <label for="a3">Captain America</label>
                                <img class="avatar-sm" src="/assets/images/childavatars/3.jpg">
                            </div>
                            <div class="col s6 m4">
                                <input name="avatars" type="radio" id="a4" value="4"/>
                                <label for="a4">Spider Girl</label>
                                <img class="avatar-sm" src="/assets/images/childavatars/4.jpg">
                            </div>
                            <div class="col s6 m4">
                                <input name="avatars" type="radio" id="a5" value="5"/>
                                <label for="a5">Spider Boy</label>
                                <img class="avatar-sm" src="/assets/images/childavatars/5.jpg">
                            </div>
                            <div class="col s6 m4">
                                <input name="avatars" type="radio" id="a6" value="6"/>
                                <label for="a6">Supergirl</label>
                                <img class="avatar-sm" src="/assets/images/childavatars/6.jpg">
                            </div>
                            <div class="col s6 m4">
                                <input name="avatars" type="radio" id="a7" value="7"/>
                                <label for="a7">Superboy</label>
                                <img class="avatar-sm" src="/assets/images/childavatars/7.jpg">
                            </div>
                            <div class="col s6 m4">
                                <input name="avatars" type="radio" id="a8" value="8"/>
                                <label for="a8">Wonder Girl</label>
                                <img class="avatar-sm" src="/assets/images/childavatars/8.jpg">
                            </div>
                        </div>
                    </div>

                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action" id="create_child">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
{{/if}}

{{#if parentRewardsPage}}
    <h1>Rewards</h1>
    <div class="row">
        <div class="col s12">
            <ul class="collection with-header white">
                <li class="collection-header red accent-4"><h4 class="center-align">Rewards Earned</h4></li>
                <div class="row">
                    <div class="col s12">
                        {{#each rewards}}
                            <a href="#!" class="collection-item">
                                <h3 class="center-align black-text">{{reward_id}}</h3>
                            </a>
                            <a class="btn btn-large waves-effect waves-light red accent-4" id="reward_issued"
                               value={{reward_id}}><p>Remove Issued Reward</p></a>
                        {{/each}}
                    </div>
                </div>
            </ul>
        </div>
        <div class="col s12">
            <div class="rewards-summary">
                <ul class="collection with-header">
                    <li class="collection-header red accent-4"><h4 class="center-align">Rewards</h4></li>
                    {{#each reward}}
                        <a href="#!" class="collection-item">{{reward_name}} <span
                                class="right"><b>{{reward_points_required}}
                            pts</b></span></a>
                    {{/each}}
                    <li class="collection-header"><a
                            class="disabled btn-add-reward btn-floating fab waves-effect waves-light red"
                            href="/parent-add-rewards/{{pid}}"><i
                            class="material-icons">add</i></a></li>
                </ul>
            </div>
        </div>
    </div>
{{/if}}

{{#if parentMissionsPage}}
    <h1>Missions</h1>
    <div class="row">
        <div class="col s12">
            <ul class="collection with-header white">
                <li class="collection-header red accent-4"><h4 class="center-align">Missions For Approval</h4></li>
                <div class="row">
                    <div class="col s12">
                        {{#each missions_assigned}}
                            <a href="#!" class="collection-item">
                                <h3 class="center-align black-text">{{mission_title}}</h3>
                                <h5 class="center-align black-text">Worth: {{mission_point_value}} Points</h5>
                                <a class="btn btn-large waves-effect waves-light red accent-4" id="mission_approved"
                                   value={{mission_id}}><p>Confirm Mission</p></a>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </ul>
        </div>

        <div class="col s12">
            <div class="missions-summary">
                <ul class="collection with-header">
                    <li class="collection-header red accent-4"><h4 class="center-align">Missions</h4></li>
                    {{#each mission}}
                        <a href="#!" class="collection-item">{{mission_title}} <span
                                class="right"><b>{{mission_point_value}}pts</b></span></a>
                    {{/each}}
                    <li class="collection-header"><a
                            class="disabled btn-add-mission btn-floating fab waves-effect waves-light red"
                            href="/parent-add-missions/{{pid}}"><i
                            class="material-icons">add</i></a></li>
                </ul>
            </div>
        </div>
    </div>


{{/if}}

{{#if parentEditChildPage}}
    <h1>Edit Child</h1>

{{/if}}
