<!--Parent Main Pages-->
<div class="mission-approval-list">
    {{#each mission_approval}}
        {{> mission-banner-item}}
    {{/each}}
</div>

<div class="reward-approval-list">
    {{#each reward_approval}}
        {{> reward-banner-item}}
    {{/each}}
</div>
{{#if parentSummaryPage}}
    <div id="team-summary-page" class="row">
        <h1 class="">Command Center</h1>
        <div class="col s12 m4">
            <div class="team-summary">
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Team</h4></li>
                    {{#each child}}
                        <a href="#!" class="collection-item">
                            <img class='avatar-sm circle' src="{{avatar}}">
                            <div><p>{{name}}</p>
                                <p>({{nickname}})</p>
                            </div>
                        </a>
                    {{/each}}
                    <li class="collection-header"><a class="" href="/parent-team">View Team Details</a>
                        <a class="btn-add-mission btn-floating fab waves-effect waves-light red"
                           href="/parent-add-child"><i
                                class="material-icons">add</i></a></li>
                </ul>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="rewards-summary">
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Rewards</h4></li>
                    {{#each reward}}
                        <a href="#!" class="collection-item">{{title}} {{points}}pts</a>
                    {{/each}}
                    <li class="collection-header"><a class="" href="/parent-rewards">View All</a>
                        <a class="disabled btn-add-reward btn-floating fab waves-effect waves-light red"
                           href="/parent-add-rewards"><i
                                class="material-icons">add</i></a></li>
                </ul>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="missions-summary">
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Mission</h4></li>
                    {{#each mission}}
                        <a href="#!" class="collection-item">{{title}} {{points}}pts</a>
                    {{/each}}
                    <li class="collection-header"><a class="" href="/parent-missions">View All</a>
                        <a class="disabled btn-add-mission btn-floating fab waves-effect waves-light red"
                           href="/parent-add-missions"><i
                                class="material-icons">add</i></a></li>
                </ul>
            </div>
        </div>
    </div>
{{/if}}

{{#if parentFamilyPage}}
    <div id="family-page" class="row">
        <h1>Team</h1>
        {{#each child}}
            <div class="col s12 m4">
                <div class="team-summary">
                    <div class="card">
                        <div class="card-header">
                        <span class="card-title">
                            {{name}}<br>
                                ({{nickname}})
                        </span>
                        </div>
                        <div class="card-content">
                            <img class='avatar-sm' src="{{avatar}}">
                            <a class="btn-add-child btn-floating halfway-fab waves-effect waves-light red"
                               href="/parent-edit-child"><i
                                    class="material-icons">edit</i></a>
                            <div class="card-footer">
                                <span class="">View Details</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}
{{#if parentAddChildPage}}
    <div id="add-child-page" class="row">
        <h1>Add New Child</h1>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">First Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
{{/if}}

{{#if parentRewardsPage}}
    <h1>Rewards</h1>
{{/if}}

{{#if parentMissionsPage}}
    <h1>Missions</h1>
{{/if}}

{{#if parentEditChildPage}}
    <h1>Edit Child</h1>
{{/if}}